<!-- 01 Богдан Лукашенко -->
<header class="header">
  <!-- Mobile-Burger Menu -->
  <div class="overlay" data-menu>
    <div class="mobile-menu container">
      <ul class="mobile-menu-list">
        <li class="mobile-menu-item"><a href="/">yachtjet</a></li>
        <button class="mobile-menu-close-button" type="button" data-menu-close>
          <svg class="mobile-menu-close-icon" width="16" height="16">
            <use
              href="
            ./img/sprite.svg#icon-close"
            ></use>
          </svg>
        </button>
      </ul>
      <ul class="central-console-mobile-menu">
        <li class="console-mobile-menu-links">
          <a href="#about-us" class="">About</a>
        </li>
        <li class="console-mobile-menu-links">
          <a href="#our-yachts" class="">Yachts</a>
        </li>
        <li class="console-mobile-menu-links">
          <a href="#reviews" class="">Reviews</a>
        </li>
      </ul>
      <div class="svg-console-mobile-menu">
        <a href="https://www.instagram.com/goitclub/" target="_blank">
          <span>
            <svg class="mobile-menu-svg" width="19" height="19">
              <use href="./img/sprite.svg#icon-instagram"></use>
            </svg>
          </span>
        </a>
        <a href="https://www.youtube.com/c/GoIT" target="_blank">
          <span>
            <svg class="mobile-menu-svg" width="19" height="19">
              <use href="./img/sprite.svg#icon-youtube"></use>
            </svg>
          </span>
        </a>
        <a href="https://www.facebook.com/goITclub/" target="_blank">
          <span>
            <svg class="mobile-menu-svg" width="19" height="19">
              <use href="./img/sprite.svg#icon-facebook"></use>
            </svg>
          </span>
        </a>
      </div>
    </div>
  </div>
  <!-- Header  -->
  <nav class="header-menu container">
    <ul class="header-menu-list">
      <li class="header-list-item"><a href="/">yachtjet</a></li>
      <button class="header-mobile-menu-open-button" data-menu-open>
        <svg class="menu-icon" width="28" height="28">
          <use href="./img/sprite.svg#icon-burger-menu"></use>
        </svg>
      </button>
      <ul class="header-central-menu-list">
        <li class="header-central-menu-button-links">
          <a href="#about-us">About</a>
        </li>
        <li class="header-central-menu-button-links">
          <a href="#our-yachts">Yachts</a>
        </li>
        <li class="header-central-menu-button-links">
          <a href="#reviews">Reviews</a>
        </li>
      </ul>
      <ul class="header-svg-menu-list">
        <li class="header-svg-menu-links">
          <a href="https://www.instagram.com/goitclub/" target="_blank">
            <span>
              <svg class="header-mobile-svg" width="19" height="19">
                <use href="./img/sprite.svg#icon-instagram"></use>
              </svg>
            </span>
          </a>
        </li>
        <li class="li-svg">
          <a href="https://www.youtube.com/c/GoIT" target="_blank">
            <span>
              <svg class="header-mobile-svg" width="19" height="19">
                <use href="./img/sprite.svg#icon-youtube"></use>
              </svg>
            </span>
          </a>
        </li>
        <li class="li-svg">
          <a href="https://www.facebook.com/goITclub/" target="_blank">
            <span>
              <svg class="header-mobile-svg" width="19" height="19">
                <use href="./img/sprite.svg#icon-facebook"></use>
              </svg>
            </span>
          </a>
        </li>
      </ul>
    </ul>
  </nav>
</header>
