<section class="adventages">

<div class="container-adv">

    <ul class="adventages-list">
        <li>
            <h3 class="adventages-name">01</h3>
            <p class="advantages-text">
                Swimming and water sports: try your hand at water skiing
            </p>
        </li>
        <li>
            <h3 class="adventages-name">02</h3>
            <p class="advantages-text">
                Fishing: try to catch your own dinner
            </p>
        </li>
        <li>
            <h3 class="adventages-name">03</h3>
            <p class="advantages-text">
                Sightseeing tours: take a shore or island tour, enjoy the views and sunsets from the water 
            </p>
        </li>
        <li>
            <h3 class="adventages-name">04</h3>
            <p class="advantages-text">
                Rest and relaxation: read a book or listen to music while enjoying the outdoor atmosphere.
            </p>
        </li>
    </ul>

</div>

</section>