<section class="our-yacht-section">
  <h2 class="our-yacht-title">
    Choose your dream yacht and sail away into the sunset
  </h2>
  <ul class="yacht-card-list">
    <li class="yacht-card-item">
      <table class="yacht-card-table">
        <caption class="yacht-card-img">
          <img src="../img/04-our-yachts/arrow.jpg" alt="" />
        </caption>
        <thead class="yacht-card-thead">
          <tr class="yacht-card-headers">
            <th class="yacht-name">ARROW</th>
            <th class="yacht-category">LUXURY YAHTS</th>
          </tr>
        </thead>
        <tr class="yacht-table-item">
          <td class="yacht-parameter">LENGTH</td>
          <td class="yacht-parameter-value">48m(155ft)</td>
        </tr>
        <tr class="yacht-table-item">
          <td class="yacht-parameter">BUILDER</td>
          <td class="yacht-parameter-value">Admiral</td>
        </tr>
        <tr class="yacht-table-item">
          <td class="yacht-parameter">BUILT</td>
          <td class="yacht-parameter-value">2021</td>
        </tr>
        <tr class="yacht-table-item">
          <td class="yacht-parameter">GUESTS</td>
          <td class="yacht-parameter-value">11 in 5 cabins</td>
        </tr>
        <tr class="yacht-table-item">
          <td class="yacht-parameter">PRICE</td>
          <td class="yacht-parameter-value">€33,500,000</td>
        </tr>
      </table>
    </li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</section>
